#ignore these folders
.vscode/

# object files
*.slo
*.lo
*.o
*.obj

# precompiled headers
*.gch
*.pch

# dynamic libraries
*.so
*.dylib
*.dll

# static libraries
*.lai
*.la
*.a
*.lib

# executables
*.exe
*.out
*.app