#ignore these folders
.vscode/

#and files
a.out
main.o
sfml-app
runText

# object files
*.slo
*.lo
*.o
*.obj

# precompiled headers
*.gch
*.pch

# dynamic libraries
*.so
*.dylib
*.dll

# static libraries
*.lai
*.la
*.a
*.lib